In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(r'D:\Data_for_ML.csv')

In [4]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
x = data.iloc[:,[2,3]].values

In [7]:
y = data.iloc[:,-1].values

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test, y_train, y_test = train_test_split(x,y,
                                                  test_size=0.25)

In [34]:
len(x_train)

300

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [35]:
classifier = RandomForestClassifier(n_estimators=25, criterion='entropy')

classifier.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=25)

In [36]:
y_pred = classifier.predict(x_test)

In [37]:
from sklearn.metrics import accuracy_score

In [38]:
accuracy_score(y_test,y_pred)

0.89